header {
  border-radius: 0px !important;
  margin-top: 60px;
}

header.masthead {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.resources {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.blog {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.get-started {
  padding-top: 60px;
  padding-bottom: 60px;
  & .ui.centered.header {
    text-transform: uppercase;
    & .blue-underline {
      border-bottom: solid 5px #0099FF;
    }
  }
}

.uppercase {
  text-transform: uppercase !important;
}

.font-icon {
  font-size: 4em !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.blue-underline {
  border-bottom: solid 5px #0099FF;
}

.fa-blue {
  color: #0066CC;
}

.text-center {
  text-align: center;
}

.cta-bar {
  background-image: url('img/sayagata.png');
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headline {
  text-transform: uppercase;
  font-size: 4rem;
}

div.hidden.content {
  & .h3 {
    padding-top: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
  }
}

.ui.move.reveal .hidden.content{
    -webkit-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    transform: translateX(-100%)!important;
}
.ui.move.reveal:hover .hidden.content{
    -webkit-transform: translateX(1%)!important;
    -ms-transform: translateX(1%)!important;
    transform: translateX(1%)!important;
}
.ui.move.reveal>.content {
    display: block!important;
}

p.copyright-notice {
  margin-top: 40px !important;
  vertical-align: middle;
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
}

.segment {
  border-radius: 0px !important;
}
